beautifulsoup4==4.6.0
Flask==1.0.2
Flask-Cors==3.0.4
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
jsonpickle==0.9.6
jsonschema==2.6.0
mysql-connector-python==8.0.11
numpy==1.14.3
numpydoc==0.8.0
packaging==17.1
pandas==0.23.0
pandocfilters==1.4.2
pathlib2==2.3.2
requests==2.18.4
SQLAlchemy==1.2.7
certifi==2018.8.24
click==6.7
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
wincertstore==0.2
jsonpickle==0.9.6